@import "./themes/generated/variables.base.scss";


.app {
  background: transparent linear-gradient(90deg, #00080D 0%, #00141D 24%, #00222E 55%, #001925 64%, #000C18 83%, #000814 100%) 0% 0% no-repeat padding-box;
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  &::after{
    content: "";
    display: block;
    height: 540px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent linear-gradient(148deg, #151723 0%, #101925 7%, #00222E 41%, #03202C 46%, #101B25 74%, #151A23 100%) 0% 0% no-repeat padding-box;
    z-index: -1 ;
  }
  .content {
    line-height: 1.5;
    flex-grow: 1;

    h2 {
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .container {
    height: 100%;
    flex-direction: column;
    display: flex;
  }

  .layout-body {
    flex: 1;
    min-height: 0;
  }

  .content-block {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
  }
  .content-block-upper{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
    position: relative;
    // &::after{
    //   content: "";
    //   display: block;
    //   height: 100%;
    //   position: absolute;
    //   width: 120px;
    //   top: 0;
    //   right: 0;
    //   background: linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,1) 100%) 0% 0% no-repeat padding-box;
    //   z-index: 2;
    //   transform: translateX(100%);
    // }
    // >.MuiGrid-container{
    //   flex-wrap: nowrap;
    // }
  }
}
.MuiGrid-item {
  flex-shrink: 0;
}

.side-nav-outer-toolbar .dx-drawer {
  height: calc(100% - 150px)
}

.screen-x-small .content-block {
  margin-left: 20px;
  margin-right: 20px;
}

.responsive-paddings {
  padding: 20px;

  .screen-large & {
    padding: 40px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.with-footer > .dx-scrollable-wrapper >
.dx-scrollable-container > .dx-scrollable-content {
  height: 100%;

  & > .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

$side-panel-min-width: 60px;

html, body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.dx-checkbox{
  +.dx-checkbox{
    margin-left: 20px;
  }
  &.dx-state-hover{
    .dx-checkbox-icon{
      border-color: white !important;
    }
  }
  .dx-checkbox-icon{
    border-color: #6B6B6B;
    font: 16px/1em DXIcons;
    text-align: center;
    color: #6B6B6B;
  }
  &.dx-checkbox-checked,&.dx-checkbox-focused{
    .dx-checkbox-icon{
      color: white;
      border-color: #fff;
    }
  }
  .dx-checkbox-icon::before {
    content: "\f016" !important;
    position: absolute;
    display: block;
    width: 1em;
    top: 50%;
    margin-top: -0.5em;
    left: 50%;
    margin-left: -0.5em;
  }
}
.dx-checkbox-text{
  white-space: pre;
  font-size: 16px;
  padding-left: 10px;
  font-weight: 500;

}

.dx-button-blue,.dx-button-grey{
  border-radius: 0;
  height: 50px;
  width: 100%;
  font-size: 16px;
  font-weight: 800;
  border:0;
  &.dx-state-hover,&.dx-state-focused,&.dx-state-active{
    background: #7AB2EE;
  }
}
.dx-button-blue{
  background: #7AB2EE;
}
.dx-button-grey{
  background: #999999;
  border:0
}
// radio buttons
.dx-radiogroup-horizontal .dx-radiobutton{
  margin-right: 21px;
}

.dx-radiobutton{
  line-height: 25px;
  font-size: 16px;
  color: #999999;
  font-weight: 500;
  &.dx-radiobutton-checked{
    color: white;
    .dx-radiobutton-icon::before{
      border-color: white !important;
    }
  }
}
.dx-radiobutton-icon{
  width: 25px;
  height: 25px;
  .dx-radiobutton-icon-dot{
    display: none;
  }
  &::before{
    border:none;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    box-sizing: border-box;
    border:8px solid #999999 !important
  }
}


.MuiDataGrid-columnHeaders{
  background: #4D4D4D;
  border-color: #959595;
  border-bottom: 1px;
}

.MuiPaper-root{
  background-image: none !important;
}

.boxTitle{
  margin: 0;
  padding: 0px;
  font-size: 18px;
  font-weight: 700;
  color: #ccc;
  margin-bottom: 15px;
}

.dx-texteditor-input{
  // min-height: 30px;
  padding: 3px 9px 4px;
}


.calendar-button{
  border:0;
  .dx-button-content{
    padding: 0;
  }
  .dx-icon{
    width: 35px;
    height: 35px;
  }
}

.dx-button-has-text .dx-button-content{
  padding: 7px 14px 8px;
}
.dx-button-small{
  .dx-button-content{
    padding: 4px 8px 4px;
  }
}


// table
.MuiTable-root{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: 0;
  border-bottom: 1px solid #959595;
  border-top: 1px solid #959595;
  border-left: 1px solid #959595;
  border-right: 1px solid #959595;
  overflow: hidden;
  .MuiTableCell-root{
    border-bottom: 1px solid #959595;
    border-top: 1px solid #959595;
    border-left: 1px solid #959595;
    border-right: 1px solid #959595;
    padding: 8px;
    text-align: center;
    &:last-child{
      border-right: 0;
    }
  }
  .MuiTableRow-root{
    &:last-child{
      border-bottom: 0;
    }
  }
}
.MuiTableHead-root{
  background: #4D4D4D;
  border-color: #959595;
  border-bottom: 1px;
  text-align: center;
}

.dx-popup-wrapper{
  
  .dx-toolbar{
    color: #ccc;
    border-bottom: 0;
  }
  .dx-popup-title{
    background: #1A1F24;
    padding: 10px 20px;
  }
  .dx-toolbar-before{
    .dx-toolbar-item-content{
      font-size: 18px;
    }
  }
  .dx-popup-content{
    background: #1A1F24;
  }
  .MuiPaper-root{
    background: #2C3034;
    padding: 20px;
    border-radius: 12px;
    +.MuiPaper-root{
      margin-top: 30px;
    }
  }
}

.inner-paper{
  border: 1px solid #999999;
  border-radius: 12px;
  padding: 20px;
  &+.inner-paper{
    margin-top: 20px;
  }
}

.dx-theme-generic-typography a{
  color: #7AB2EE;
  text-decoration: underline;
  cursor: pointer;
}